<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>retrive data</title>
</head>
<body>
    <center>
        <legend>WEBPAGE</legend>
        <form  method="POST" >
            {% csrf_token %}
            <label for="topics">TOPICS</label><br>
            <select multiple  name="topics" id="topics">

                {% for i in topics %}
                <option value="{{i}}">{{i.topic_name}}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="retrive">


        </form>
    </center>
</body>
</html>